.container object, iframe
{
    	overflow-y: auto;
    	margin-right: 2px;
	top:4%;
	left: 0;
	width: 100%;
	height: 100%;
}

/*.ui-icon-twitter { 
    background: url("twitter8.png") no-repeat rgba(0, 0, 0, 0.4) !important; 
}*/
